@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "v-tooltip.scss";
@import "vue-toasted.scss";

html {
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  height: 100vh;
  text-rendering: optimizeLegibility;
}

body {
  @apply bg-background-default-light text-default-light;

  &.base-modal--open {
    @apply overflow-hidden;
  }
}

.dark1-mode body {
  @apply bg-background-default-dark1 text-default-dark1;
}

.dark2-mode body {
  @apply bg-background-default-dark2 text-default-dark2;
}

.dark3-mode body {
  @apply bg-background-default-dark3 text-default-dark3;
}

button:focus {
  outline: 0;
}

:focus {
  outline: 0;
}

/* KEYFRAMES */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* FADE TRANSITION */
.fade-enter-active, .fade-leave-active {
  transition: all .3s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* SCALE TRANSITION*/
.scale-enter-active {
  animation: scale .3s;
}

.scale-leave-active {
  animation: scale .3s reverse;
}

/* SLIDE UP */
.slide-up-enter-active {
  animation: slide-up .3s;
}

.slide-up-leave-active {
  animation: slide-up .3s reverse;
}

/* SLIDE LEFT */
.slide-left-enter-active {
  animation: slide-left .3s;
}

.slide-left-leave-active {
  animation: slide-left .3s reverse;
}

/* SLIDE DOWN */
.slide-down-enter-active {
  animation: slide-down .3s;
}

.slide-down-leave-active {
  animation: slide-down .3s reverse;
}

/* SLIDE RIGHT */
.slide-right-enter-active {
  animation: slide-right .3s;
}

.slide-right-leave-active {
  animation: slide-right .3s reverse;
}
